* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    width: 100vw;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 100vh;
    padding: 0 25px;
    object-fit: cover;

}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.container-fluid {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

/* Caption text */
.text {
    color: black;
    /* font-size: 15px; */
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
    /* bottom: 8px; */
    width: 100%;
    text-align: center;
    height: 100px;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 15px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.hello_1 {
    font-size: 35px;
}

.hello {
    font-size: 35px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.hello {
    color: black;

}

#numbertext {
    color: red;
    font-size: 20px;
}

.content_hello {
    font-size: 32px;
    color: orange;
    /* width:640px;
    width: 100%; */
    /* margin: 636px;
    margin-left: 400px; */
}

.btn_click {
    font-size: 25px;
    color: white;
}

.btn-warning {
    font-size: 32px !important;
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1025px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    img {
        height: 80vh;
        padding: 0 20px;
    }

    .hello_1 {
        font-size: 35px;
    }

    .hello {
        font-size: 35px;
    }

    .dot {
        margin-top: 10px;
        height: 20px;
        width: 20px;

    }

    .btn-warning {
        font-size: 30px !important;
    }

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    img {
        height: 80vh;
        padding: 0 20px;
    }

    .text {
        height: 50px;

    }

    .hello_1 {
        font-size: 15px;
    }

    .hello {
        font-size: 15px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .hello_1 {
        font-size: 30px;
    }

    .hello {
        font-size: 30px;
    }

    .dot {
        margin-top: 10px;
        height: 13px;
        width: 13px;

    }

    .btn-warning {
        font-size: 25px !important;
    }

    .wifi-button {
        height: 50px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    img {
        height: 70vh;
        padding: 0 20px;
    }

    .text {
        height: 50px;
        margin: 20px 0;

    }

    .hello_1 {
        font-size: 15px;
        height: 20px;
    }

    .hello {
        font-size: 15px;
    }

    .dot {
        height: 9px;
        width: 9px;
    }


    .btn-warning {
        font-size: 22px !important;
    }

    .wifi-button {
        margin: 0
    }


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    img {
        height: 70vh;
        padding: 0 20px;
    }

    .text {
        height: 60px;

    }

    .hello_1 {
        font-size: 21px;
    }

    .hello {
        font-size: 21px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}
 
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (max-device-width: 375px) and (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    img {
        height: 70vh;
        padding: 0 20px;
    }
    .text {
        height: 50px;

    }
    .hello_1 {
        font-size: 15px;
    }
    .hello {
        font-size: 15px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    .btn-warning {
        font-size: 22px !important;
    }

}
