<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: Verdana, sans-serif;
            width: 100vw;
        }
        
        .mySlides {
            display: none;
        }
        
        #main-container {
            position: relative;
            max-height: 100vh;
        }
        
        #main-screen-pc {
            width: 100%;
            height: 100vh;
        }
        
        img {
            vertical-align: middle;
        }
        
        .container {
            position: relative;
            height: 100vh;
            width: 100%;
            margin: auto;
        }
        
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .active {
            background-color: #717171;
        }
        
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        .button-connect-wifi {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 15%;
            height: 9%;
        }
        
        .button-connect-wifi button {
            display: block;
            width: 100%;
            height: 100%;
            background: #E9BE72;
            border: none;
            background: url('https://minio.thecoffeehouse.com/image/admin/1680062828_connect-wifi.png');
            background-size: 100% 105%;
            background-repeat: no-repeat;
            border-radius: 5px;
        }
        
        .btn-connect-wifi {
            font-size: 24px !important;
            background: #E9BE72 !important;
        }
        
        .modal-content {
            transform: translate(0%, 90%);
        }
        
        .btn-close {
            margin: auto;
        }
        
        .modal-body {
            text-align: center;
        }
        
        #content_hello {
            animation: leaves 1s ease-in-out infinite alternate;
        }
        
        .slide-dots {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -0%);
            bottom: 20px;
        }
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        #hello {
            color: black !important;
        }
        
        #hello_1 {
            color: red !important;
        }
        
        #numbertext {
            color: red;
            font-size: 20px;
        }
        
        #content_hello {
            text-align: center;
        }
        
        #main-screen-pc {
            display: block;
        }
        
        #main-screen-mobile {
            display: none;
        }
        
        @keyframes leaves {
            0% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(1.1);
            }
        }
        
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
            #main-screen-pc {
                display: none;
            }
            #main-screen-mobile {
                display: block;
                height: 100vh;
            }
            .button-connect-wifi {
                position: absolute;
                bottom: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 128px;
                height: 35px;
            }
            #morning_pc {
                display: none !important;
            }
            #morning_mobile {
                display: block !important;
            }
            .text {
                display: none !important;
            }
            #header_content {
                display: block !important;
                background: #EDCF98;
                margin: 16px;
            }
            .btn-connect-wifi {
                font-size: 11px !important;
            }
            #content_hello {
                font-size: 1rem;
            }
            .cover-btn-connect-wifi {
                position: fixed;
                left: 50%;
                transform: translate(-50%, 59%);
                width: max-content;
            }
        }
        
        @media screen and (min-width: 900px) {
            #morning_pc {
                display: block !important;
            }
            #morning_mobile {
                display: none !important;
            }
            .text {
                display: block !important;
                position: fixed;
                top: 5%;
                left: 50%;
                transform: translate(-50%, -0%);
            }
            .button-connect-wifi {
                position: absolute;
                bottom: 3%;
                left: 50%;
                transform: translateX(-50%);
                width: 10%;
                height: 5%;
            }
        }
        
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
            #main-screen-pc {
                display: none;
            }
            #main-screen-mobile {
                display: block;
                height: 100vh;
            }
            #header_content {
                display: block !important;
                background: #EDCF98;
                margin: 16px;
            }
            .btn-connect-wifi {
                font-size: 10px !important;
            }
            .button-connect-wifi {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 33%;
                height: 5%;
            }
            #content_hello {
                font-size: 1rem;
            }
            .text {
                display: none !important;
            }
            #header_content {
                display: block !important
            }
        }
        
        @media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 3) {
            #main-screen-pc {
                display: none;
            }
            #main-screen-mobile {
                display: block;
                height: 100vh;
            }
            #morning_mobile {
                display: block !important;
            }
            #header_content {
                display: block !important;
                background: #EDCF98;
                margin: 16px;
            }
            .btn-connect-wifi {
                font-size: 10px !important;
            }
            .button-connect-wifi {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 31%;
                height: 4%;
            }
            #content_hello {
                font-size: 1rem;
            }
            .text {
                display: none !important;
            }
            #header_content {
                display: block !important
            }
        }
        
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            #morning_pc {
                display: none !important;
            }
            #morning_mobile {
                display: block !important;
            }
            .btn-connect-wifi {
                font-size: 10px !important;
            }
            .cover-btn-connect-wifi {
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 80%);
                width: max-content;
            }
            .text {
                display: none;
            }
            #header_content {
                display: block !important;
                background: #EDCF98;
                margin: 16px;
            }
            #content_hello {
                font-size: 1rem;
            }
        }
        
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
            #morning_pc {
                display: none !important;
            }
            #morning_mobile {
                display: block !important;
            }
            .btn-connect-wifi {
                font-size: 10px !important;
            }
            .cover-btn-connect-wifi {
                position: fixed;
                left: 50%;
                top: 65%;
                transform: translate(-50%, 80%);
                width: max-content;
            }
            #header_content {
                display: block !important
            }
            .text {
                display: none !important;
            }
            #content_hello {
                font-size: 1rem;
            }
        }
        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            #main-screen-pc {
                display: none;
            }
            #main-screen-mobile {
                display: block;
                height: 100vh;
            }
            #header_content {
                display: block !important;
                background: #EDCF98;
                margin: 16px;
            }
            .btn-connect-wifi {
                font-size: 10px !important;
            }
            .button-connect-wifi {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 31%;
                height: 4%;
            }
            #content_hello {
                font-size: 1rem;
            }
            .text {
                display: none !important;
            }
            #header_content {
                display: block !important
            }
        }
    </style>
</head>

<body>
    <div id="main-container" class="container-fluid" style="padding: 0px;overflow: hidden;position: relative;;">
        <div id="main-screen-pc"></div>
        <div id="main-screen-mobile" style="width: 100%;"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p> Phát hiện bạn eo vừa ghé Nhà😍 </p>
                        <p> Nên voucher 50% - Nhà tặng bạn voucher 50% Mã voucher trên hoá đơn Mình mau mau thưởng thức bánh nước thơm ngon ngay!</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-close" data-dismiss="modal">Đóng</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="button-connect-wifi">
            <a href="https://www.thecoffeehouse.com/">
                <button></button>
            </a>
        </div>
        <br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        // $(window).on('load', function() {
        //     $('#myModal').modal('show');
        // });
        // var now = new Date();
        // var hr = now.getHours()
        document.getElementById("main-screen-pc").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680514862_photo-2023-04-03-15-52-47.jpg') ;background-size: cover; background-repeat: no-repeat;background-position: 100% 71%;"
        document.getElementById("main-screen-mobile").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680062689_mobile-1.jpg');background-size: cover; background-repeat: no-repeat;background-position: 52% 80%;"
            // if (hr <= 12) {
            //     document.getElementById("main-screen-pc").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680062771_desktop-1.jpg') ;background-size: cover; background-repeat: no-repeat;background-position: 100% 71%;"
            //     document.getElementById("main-screen-mobile").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680062689_mobile-1.jpg');background-size: cover; background-repeat: no-repeat;background-position: 52% 80%;"
            // } else {
            //     document.getElementById("main-screen-pc").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680062771_desktop-1.jpg') ;background-size: cover; background-repeat: no-repeat;background-position: 100% 98%;"
            //     document.getElementById("main-screen-mobile").style.cssText = "background:url('https://minio.thecoffeehouse.com/image/admin/1680062713_mobile-2.jpg');background-size: cover; background-repeat: no-repeat;background-position: 22% 93%;"
            // }
    </script>
</body>

</html>